<style>
    input[type="text"] {
        font-size: 11px;
    }

</style>

<div ng-controller="ControllerSac" ng-init="carregaDadosPrestadores()">
    <!-- RESUMO DO CONTRATO -->
    <p class="bg-primary" style="font-weight: bold; padding: 10px;"> <i class="fa fa-bars"></i> RESUMO DO CONTRATO <span style="float: right"></span> </p>
        <div class="row">
            <div class="col-lg-2">
                <i class="fa fa-bars"></i> <span style="font-weight: bold">CONTRATO</span>: <span style="font-size: 11px;"> {{CODIGO_CONTRATO}} </span>
            </div>
            <div class="col-lg-2">
                <i class="fa fa-university"></i> <span style="font-weight: bold">IMÓVEL:</span> <span style="font-size: 11px;"> {{CODIGO_IMOVEL}} </span>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-male"></i> <span style="font-weight: bold"> INQUILINO:</span> <span style="font-size: 11px; text-transform: uppercase"> {{INQUILINO}} </span>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-child"></i> <span style="font-weight: bold"> SOLICITANTE:</span> <span style="font-size: 11px; text-transform: uppercase"> {{SOLICITANTE}} </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="margin-top: 10px;">
                <i class="fa fa-comments-o"></i> <span style="font-weight: bold">SOLICITAÇÃO: </span>
                <span style="font-size: 11px;">
                    {{SOLICITACAO}}
                </span>
            </div>
        </div>

    <!-- PRESTADORES NO CHAMADO -->
    <p class="bg-primary" style="font-weight: bold; padding: 10px; margin-top: 20px;"> <i class="fa fa-wrench"></i> PRESTADORES NO CHAMADO <span style="float: right"></span> </p>

    <!-- DIV PRESTADORES -->
    <div class="row" style="border-top: 1px solid #dddddd; border-left: 1px solid #dddddd;border-right: 1px solid #dddddd; padding-top: 10px; padding-bottom: 10px;">

        <div class="col-lg-1" style="margin-top: 27px; width: 20px;" ng-hide="bt_abre_modal_listar_prestadores">
            <a href="" title="Pesquisar Prestadores" ng-click="abreModalListaPrestadores()"> <i class="fa fa-search"></i> </a>
        </div>

        <div class="col-lg-4">
            <label for="prestador">* Prestador/Empresa</label>
            <input type="text" class="form-control" id="prestador" ng-model="item.PRESTADOR">
        </div>

        <div class="col-lg-1" style="margin-top: 26px;">
            <button type="button" class="btn btn-default btn-sm" ng-click="buscaPrestadorNome(item.PRESTADOR)" ng-disabled="bt_pesquisa_prestador">
                <span class="glyphicon glyphicon-search"></span> {{value_btn_pesquisar}}
            </button>
        </div>

        <div class="col-lg-2" style="margin-top: 26px; margin-left: 40px;">
            <button type="button" class="btn btn-default btn-sm" ng-click="liberarCadastroPrestador()" ng-disabled="bt_novo">
                <span class="glyphicon glyphicon-plus-sign"></span> Novo
            </button>
        </div>
    </div>
    <div class="row" style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd">

        <div class="col-lg-2">
            <div class="form-group">
                <label for="prioridade">* Tipo Cliente</label>
                <select class="form-control" name="prioridade" id="prioridade" ng-disabled="d_inputs_cadastro_prestador" ng-model="item.TIPO_CLIENTE" ng-change=" ( (item.CPF = '') || (item.CNPJ = '') )" >
                    <option value="">Informe</option>
                    <option value="fisica">Física </option>
                    <option value="juridica">Jurídica</option>
                </select>
            </div>
        </div>

        <div class="col-lg-2">
            <label for="cpf">* CPF</label>
            <input type="text" class="form-control" id="cpf" ui-mask="999.999.999-99" ng-model="item.CPF" ng-disabled="!(item.TIPO_CLIENTE == 'fisica') || d_cpf_prestador" model-view-value="true">
        </div>

        <div class="col-lg-2">
            <label for="cnpj">* CNPJ</label>
            <input type="text" class="form-control" id="cnpj" ui-mask="99.999.999/9999-99" ng-model="item.CNPJ" ng-disabled="!(item.TIPO_CLIENTE == 'juridica') || d_cnpj_prestador" model-view-value="true">
        </div>

        <div class="col-lg-3">
            <label for="responsavel">* Responsável</label>
            <input type="text" class="form-control" id="responsavel" ng-model="item.RESPONSAVEL" ng-disabled="(!item.CPF) && (!item.CNPJ)" >
        </div>
        <div class="col-lg-3">
            <label for="t_prestacao">* Tipo Prestação</label>
            <input type="text" class="form-control" id="t_prestacao" ng-model="item.TIPO_PRESTACAO" ng-disabled="!(item.RESPONSAVEL)" >
        </div>
    </div>
    <div class="row" style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd">
        <div class="col-lg-3">
            <label for="responsavel">Email</label>
            <input type="text" class="form-control" id="email" ng-model="item.EMAIL" ng-disabled="disabledInput">
        </div>
        <div class="col-lg-2">
            <label for="responsavel">* Telefone 1</label>
            <input type="text" class="form-control" id="telefone1" ng-model="item.TELEFONE1" ng-disabled="!(item.TIPO_PRESTACAO)" ui-mask="(99)9999-9999" model-view-value="true">
        </div>
        <div class="col-lg-2">
            <label for="t_prestacao">Telefone 2</label>
            <input type="text" class="form-control" id="telefone2" ng-model="item.TELEFONE2" ui-mask="(99)9999-9999" model-view-value="true">
        </div>
    </div>
    <div class="row" style=" border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd">

        <!-- BOTÃO DE SALVAR DADOS PRESTADOR -->
        <div class="col-lg-2" ng-hide="bt_gravar_prestador" style="margin: 20px 0 20px;">
            <button type="submit" ng-disabled="!(!!item.PRESTADOR && !!item.TIPO_CLIENTE && item.CPF  && !!item.RESPONSAVEL && item.TIPO_PRESTACAO && item.TELEFONE1 || item.CNPJ && !!item.RESPONSAVEL && item.TIPO_PRESTACAO && item.TELEFONE1) || bt_salvar_dados" class="btn btn-default"
                    ng-click="cadastrarNovoPrestador(item)"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar Dados
            </button>
        </div>
        <!-- BOTÃO DE ADICIONAR PRESTADOR AO CHAMADO -->
        <div class="col-lg-2" ng-show="bt_adicionar_prestador_chamado_desabilitado" style="margin: 20px 0 20px;">
            <button class="btn btn-default" ng-click="adicionarPrestadorChamado(item.ID_PRESTADOR)"><span class="glyphicon glyphicon-saved"></span> Adicionar ao Chamado
            </button>
        </div>

        <!-- BOTÃO DE ATUALIZAR DADOS DO PRESTADOR -->
        <div class="col-lg-2" ng-show="bt_atualiza_dados_prestador" style="margin: 20px">
            <button class="btn btn-default" ng-click="atualizaDadosPrestador(item)"><span class="glyphicon glyphicon-floppy-disk"></span> Atualizar Dados
            </button>
        </div>

    </div>
    <!-- Fim da Div de PRESTADORES -->


        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th>Prestador</th>
                            <th>Serviço</th>
                            <th>Dt Orçamento</th>
                            <th>Dt Execução</th>
                            <th>Status</th>
                            <th> - </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="font-size: 11px;" ng-repeat="prestador in prestadores">
                           <td> {{prestador.PRESTADOR}} </td>
                           <td style="text-transform: capitalize" ng-if="prestador.TIPO_SERVICO_EXECUTAR != null"> {{prestador.TIPO_SERVICO_EXECUTAR}} </td>
                           <td ng-if="prestador.TIPO_SERVICO_EXECUTAR == null"> - </td>
                           <!-- DATA ORÇAMENTO -->
                           <td ng-if="prestador.DATA_ORCAMENTO !=   null"> {{prestador.DATA_ORCAMENTO | date:'dd/MM/yyyy'}} </td>
                           <td ng-if="prestador.DATA_ORCAMENTO ==   null"> - </td>
                           <!-- DATA EXECUÇÃO -->
                           <td ng-if="prestador.DATA_EXECUCAO !=   null"> {{prestador.DATA_EXECUCAO | date:'dd/MM/yyyy'}} </td>
                           <td ng-if="prestador.DATA_EXECUCAO ==   null"> - </td>
                           <!-- STATUS PROVISIONAMENTO -->
                           <td ng-if="prestador.STATUS_PROVISIONAMENTO == null "> - </td>
                           <td ng-if="prestador.STATUS_PROVISIONAMENTO == 'finalizada'" title="Significa que o financeiro já esta com a solicitação de pagamento na sua bancada.">
                               <span style="font-weight: bold; color: #3c763d"> Solicitação Pagamento Enviada </span>
                           </td>

                           <td>
                               <a href="" title="Dados financeiro" ng-click="abrirModalFinanceira(prestador.ID_PRESTADOR, prestador.ID_FINANCEIRO)" style="color: #000000"> <span class="glyphicon glyphicon-usd"></span> </a>

                               <a href="" ng-click="abreModalExclusaoPrestador(prestador.ID_FINANCEIRO)" title="Excluir prestador desta chamado" style="color: #000000" ng-if="prestador.STATUS_PROVISIONAMENTO != 'finalizada' ">
                                   <span class="glyphicon glyphicon-trash"></span>
                               </a>

                           </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>


    <!-- MODAL FINANCEIRA DO PRESTADOR -->
    <div class="modal fade bs-example-modal-lg ajusteModal" id="modalFinanceiraPrestador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row" style="padding-left: 10px; padding-top: 10px;">
                    <div class="col-lg-6">
                        <i class="fa fa-wrench fa-fw fa-2x"></i> <span style="text-transform: uppercase; font-weight: bold">{{nome_prestador}} </span>
                    </div>
                </div>
                <div class="row" style=" padding: 10px;">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="servico">* Servico</label>
                            <input type="text" class="form-control" name="servico" id="servico" ng-model="fin.TIPO_SERVICO_EXECUTAR" maxlength="50" ng-disabled="d_tipoServicoExecutar">
                            <span style="font-size: 11px;">{{fin.TIPO_SERVICO_EXECUTAR.length}}  - Max 50 caracteres</span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label for="data_orcamento">* Orçamento</label>
                        <input type="text" class="form-control" ng-model="fin.DATA_ORCAMENTO" ui-mask="99/99/9999" ng-disabled="(!fin.TIPO_SERVICO_EXECUTAR) || d_dataOrcamento" directiva-data model-view-value="true">
                    </div>
                    <div class="col-lg-2">
                        <label for="data_execucao">* Execução</label>
                        <input type="text" class="form-control" ng-model="fin.DATA_EXECUCAO" ui-mask="99/99/9999" ng-disabled="(!fin.DATA_ORCAMENTO) || d_dataExecucao" directiva-data model-view-value="true">
                    </div>
                    <div class="col-lg-2" style="margin-top: 24px;">
                        <button type="button" ng-disabled="(!fin.TIPO_SERVICO_EXECUTAR) || d_botaoSalvarDados " class="btn btn-default" ng-click="atualizaDadosFinanceiro(fin,dadosChamado)" >
                            <span class="glyphicon glyphicon-floppy-saved"></span> Salvar Dados
                        </button>
                    </div>
                </div>

                    <!-- MÃO DE OBRA -->
                <div class="row" style="padding-left: 10px; padding-bottom: 10px;">
                    <div class="col-lg-2">
                        <label for="mao_obra">Mão Obra</label>
                        <input type="text" class="form-control" id="mao_obra" ng-model="fin.V_MAO_OBRA" format="number" model-view-value="true" ng-disabled="!fin.DATA_EXECUCAO" ng-hide="m_obra_hide">
                        <!-- SE A MÃO DE OBRA FOR DIFERENTE DE NADA ELE VAI MOSTRAR ESTE AQUI -->
                        <input type="text" class="form-control" ng-model="fin.V_MAO_OBRA" model-view-value="true" ng-show="m_obra_show" disabled>
                    </div>
                    <!-- MATERIAL -->
                    <div class="col-lg-2">
                        <label for="material">Material</label>
                        <input type="text" class="form-control" id="material" ng-model="fin.V_MATERIAL" format="number" model-view-value="true" ng-disabled="!fin.V_MAO_OBRA" ng-hide="material_hide">
                        <!-- SE A MATERIAL FOR DIFERENTE DE NADA ELE VAI MOSTRAR ESTE AQUI -->
                        <input type="text" class="form-control"  ng-model="fin.V_MATERIAL" model-view-value="true" ng-show="material_show" disabled>
                    </div>
                    <!-- QTD PARCELAS -->
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="parcelas">* Parcelas</label>
                            <select class="form-control" name="prioridade" id="parcelas" ng-model="fin.QTD_PARCELAS" ng-change="verificaDadosParcela(fin)" ng-disabled="(!fin.V_MATERIAL) || desabilita_parcelas">
                                <option value="">Informe</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <label for="data_parcela_1">* Dt Parc 1</label>
                        <input type="text" class="form-control" ng-model="fin.DATA_PARCELA_1" id="data_parcela_1"  ui-mask="99/99/9999"  model-view-value="true" ng-disabled="(!fin.QTD_PARCELAS) || desabilita_data_parcela_1" directiva-data/>
                    </div>

                    <div class="col-lg-2">
                        <label for="data_bloqueio">* Bloqueio</label>
                        <input type="text" class="form-control" ng-model="fin.DATA_BLOQUEIO" id="data_bloqueio" ui-mask="99/99/9999"  model-view-value="true" ng-disabled="(!fin.DATA_PARCELA_1) || desabilita_data" directiva-data/>
                    </div>



                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS == 1">
                        <label for="parcela_1">Parc 1</label>
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_1" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 1">
                        <label for="parcela_1">Parc 1</label>
                        <input type="text" class="form-control" id="parcela_1" ng-model="fin.V_PARCELA_1" format="number" model-view-value="true" ng-disabled="!fin.DATA_BLOQUEIO" ng-hide="parcela_1_hide">
                        <!-- SE A PARCELA 1 FOR DIFERENTE DE NULL OU DE NADA VAI MOSTRAR ESTE AQUI -->
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_1" ng-show="parcela_1_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 1">
                        <label for="parcela_2">Parc 2</label>
                        <input type="text" class="form-control" id="parcela_2" ng-model="fin.V_PARCELA_2" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_1" ng-hide="parcela_2_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_2" ng-show="parcela_2_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 2">

                        <label for="parcela_3">Parc 3</label>
                        <input type="text" class="form-control" id="parcela_3" ng-model="fin.V_PARCELA_3" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_2" ng-hide="parcela_3_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_3" ng-show="parcela_3_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 3">
                        <label for="parcela_4">Parc 4</label>
                        <input type="text" class="form-control" id="parcela_4" ng-model="fin.V_PARCELA_4" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_3" ng-hide="parcela_4_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_4" ng-show="parcela_4_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 4">
                        <label for="parcela_5">Parc 5</label>
                        <input type="text" class="form-control" id="parcela_5" ng-model="fin.V_PARCELA_5" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_4" ng-hide="parcela_5_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_5" ng-show="parcela_5_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 5">
                        <label for="parcela_6">Parc 6</label>
                        <input type="text" class="form-control" id="parcela_6" ng-model="fin.V_PARCELA_6" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_5" ng-hide="parcela_6_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_6" ng-show="parcela_6_show" disabled>
                    </div>
                </div>

                <div class="row" style="padding: 10px;">
                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 6">
                        <label for="parcela_7">Parc 7</label>
                        <input type="text" class="form-control" id="parcela_7" ng-model="fin.V_PARCELA_7" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_6" ng-hide="parcela_7_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_7" ng-show="parcela_6_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 7">
                        <label for="parcela_8">Parc 8</label>
                        <input type="text" class="form-control" id="parcela_8" ng-model="fin.V_PARCELA_8" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_7" ng-hide="parcela_8_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_8" ng-show="parcela_8_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 8">
                        <label for="parcela_9">Parc 9</label>
                        <input type="text" class="form-control" id="parcela_9" ng-model="fin.V_PARCELA_9" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_8" ng-hide="parcela_9_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_9" ng-show="parcela_9_show" disabled>
                    </div>

                    <div class="col-lg-2" ng-show="fin.QTD_PARCELAS > 9">
                        <label for="parcela_10">Parc 10</label>
                        <input type="text" class="form-control" id="parcela_10" ng-model="fin.V_PARCELA_10" format="number" model-view-value="true" ng-disabled="!fin.V_PARCELA_9" ng-hide="parcela_10_hide">
                        <input type="text" class="form-control" ng-model="fin.V_PARCELA_10" ng-show="parcela_10_show" disabled>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- FIM DA MODAL FINANCEIRA -->

    <!-- MODAL EXCLUSAO PRESTADOR CHAMADO -->
    <div class="modal fade ajusteModal" id="modalExclusaoPrestador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-confirm">
                    <button type="button" class="close" data-dismiss="modal" style="margin-right: 20px; margin-top: 10px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="padding-left: 30px; padding-top: 10px;"><i class="fa fa-check-square-o 2x"> </i> Janela de Confirmação</h4>
                </div>
                <div class="modal-body">
                    <span style="font-weight: bold">Tem certeza que deseja <span style="color: red">EXCLUIR</span> o prestador deste chamado ?</span>
                </div>
                <div class="modal-footer">
                    <span style="font-size: 11px;" ng-show="processando"><img src="/img/159.gif"/> Processando requisição ...</span>
                    <div ng-hide="btnModal">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                        <button type="button" class="btn btn-danger" ng-click="removePrestadorChamado(idFinanceiro)">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DA MODAL EXCLUSAO PRESTADOR CHAMADO -->

    <!-- MODAL LISTA OS PRESTADORES CADASTRADOS NO SISTEMA -->
    <div class="modal fade bs-example-modal-lg ajusteModal" id="modalListaPrestadores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="row">
                   <div class="col-lg-12">
                       <table class="table table-striped">
                           <thead>
                           <tr style="font-size: 12px; font-weight: bold">
                               <th>Prestador</th>
                               <th>Prestação</th>
                               <th>Email</th>
                               <th>Telefone</th>
                               <th>Telefone</th>
                           </tr>
                           </thead>

                           <tbody>
                           <tr ng-repeat="prestadores in prestadoresSistema" style="font-size: 11px;">
                              <td style="text-transform: capitalize"><a href="" ng-click="buscaPrestadorNome(prestadores.PRESTADOR)"> {{prestadores.PRESTADOR}} </a></td>
                              <td style="text-transform: capitalize">{{prestadores.TIPO_PRESTACAO}}</td>
                              <td>{{prestadores.EMAIL}}</td>
                              <td>{{prestadores.TELEFONE1}}</td>
                              <td>{{prestadores.TELEFONE2}}</td>
                           </tr>
                           </tbody>

                       </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <!-- FIM DA MODAL FINANCEIRA -->

    <!-- Modal prestador ja cadastrado no sistema -->
    <div class="modal fade bs-example-modal-sm ajusteModal" id="modalPrestadorJaCadastrado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header dialog-header-notify">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabe2" style="color: #000000; font-size: 14px;"><i class="fa fa-info-circle"></i> INFORMAÇÃO DO SISTEMA</h4>
                </div>
                <div class="modal-body">
                    <span style="font-size: 12px;">PRESTADOR JÁ CADASTRADO NO SISTEMA.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


</div>



