<div class="row">
    <div class="col-lg-4" style="margin-left: 15px;">
        <div class="form-group">
            <label for="pesquisa"><i class="fa fa-search"></i>  Pesquisa de Dados </label>
            <input type="text" class="form-control" id="pesquisa" ng-model="pesquisa">
        </div>
    </div>
    <div class="col-lg-6">
        <ol class="breadcrumb" style="background-color: #d4d4d4; width: 280px">
            <li class="active" style="color: #ffffff"><i class="fa fa-users fa"></i> &nbsp;TODOS OS CHAMADOS</li>
        </ol>
    </div>
</div>

<div ng-controller="ControllerSac">

    <div ng-init="carregaTodosChamados()">
        <table class="table table-hover">
            <thead>
            <tr style="font-size: 12px;">
                <td> - </td>
                <th>Contrato</th>
                <th>Cod.Imóvel</th>
                <th>Endereço</th>
                <th>Status</th>
                <th>Prioridade</th>
                <th>Rp.Abertura</th>
                <th>Data.Abertura</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="chamado in chamados | filter:pesquisa" style="font-size: 11px;">
                <td><a href="#/sac/chamado/abrir/{{chamado.ID_SAC}}" title="Abrir dados do chamado"> <span class="glyphicon glyphicon-save"></span> </a></td>
                <td> {{chamado.CODIGO_CONTRATO}} </td>
                <td> {{chamado.CODIGO}} </td>
                <td> {{chamado.ENDERECO}} </td>
                <td style="text-transform: capitalize"> {{chamado.STATUS}} </td>
                <td ng-if="chamado.PRIORIDADE == 'baixa'"> <img src="/icons/statusBaixaIcon.png" /> <span style="text-transform: capitalize"> {{chamado.PRIORIDADE}}</span> </td>
                <td ng-if="chamado.PRIORIDADE == 'media'"> <img src="/icons/statusMediaIcon.png" /> <span style="text-transform: capitalize"> {{chamado.PRIORIDADE}}</span> </td>
                <td ng-if="chamado.PRIORIDADE == 'alta'"> <img src="/icons/statusAltaIcon.png" />  <span style="text-transform: capitalize"> {{chamado.PRIORIDADE}}</span> </td>
                <td style="text-transform: capitalize"> {{chamado.RP_ABERTURA}} </td>
                <td> {{chamado.DATA_ABERTURA | date: 'dd/MM/yyyy' }} </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>